snippet TW "TaskWarrior"
== Today | +next ==

== Aurima | project:aurima ==

== Datum | project:datum ==
endsnippet

snippet TT "Today"
== Today | +next -COMPLETED or end:today or +DUE ==

== Recent | +ACTIVE or end:yesterday ==
endsnippet
